<ActionBar class="action-bar">
    <Label class="header" text="References"></Label>
    <NavigationButton text="" (tap)="router.back()" android.systemIcon="ic_menu_back">
    </NavigationButton>
</ActionBar>

<ScrollView>
    <MDCardView (tap)="openModal('bmi')" rippleColor="black" width="95%" height="100">
        <StackLayout padding="12">
            <Label text="Calculate BMI" fontSize="20" marginBottom="16"></Label>
            <Label text="BMI = (weight in kilograms)/(height in meters^2)" textWrap="true"></Label>
        </StackLayout>
    </MDCardView>

    <GridLayout opacity="0" class="overlay" id="overlayGridLayout"></GridLayout>
    <GridLayout rowSpan="2" colSpan="2" rows="auto, auto, auto" columns="*,*" verticalAlignment="center" opacity="0"
        class="select-date" id="selectDateGridLayout">
        <Label row="0" col="0" colSpan="2" text="Select Date" class="title-select-date"></Label>
    </GridLayout>

</ScrollView>
