<ActionBar class="action-bar">
    <Label class="action-bar-title" fontSize="22" text="Mifflin"></Label>
    <NavigationButton text="" (tap)="router.back()" android.systemIcon="ic_menu_back">
    </NavigationButton>
</ActionBar>


<GridLayout columns="*,*,*" rows="60, 100, 160, auto" #overlay class="overlay">
    <SegmentedBar selectedBackgroundColor="#696868" class="tab-bar top" row="0" colSpan="3" [items]="tabItems"
        (selectedIndexChange)="onTabChange($event)">
    </SegmentedBar>

    <StackLayout colSpan="3" row="1" class="middle">
        <Label class="answer-text text-center"
            [text]="'Male: ' + answerMale.toFixed(2) + '    ' + 'Female: ' + answerFemale.toFixed(2)" textWrap="true"
            marginBottom="25"></Label>
    </StackLayout>

    <StackLayout visibility="{{ currentTabView == 'standard' ? 'visible' : 'collapsed' }}" col="0" row="2"
        class="center middle input-field ">
        <TextField #weightField keyboardType="number" autocorrect="false" (textChange)="onWeightChange($event)"
            class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Weight (lbs)" textWrap="true" marginBottom="25"></Label>

    </StackLayout>
    <StackLayout visibility="{{ currentTabView == 'metric' ? 'visible' : 'collapsed' }}" col="0" row="2"
        class="center middle input-field ">
        <TextField #weightField keyboardType="number" autocorrect="false" (textChange)="onWeightChange($event)"
            class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Weight (kg)" textWrap="true" marginBottom="25"></Label>
    </StackLayout>
    <StackLayout visibility="{{ currentTabView == 'standard' ? 'visible' : 'collapsed' }}" col="1" row="2"
        class="center middle input-field ">
        <TextField #weightField keyboardType="number" autocorrect="false" (textChange)="onHeightChange($event)"
            class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Height (in)" textWrap="true" marginBottom="25"></Label>
    </StackLayout>
    <StackLayout visibility="{{ currentTabView == 'metric' ? 'visible' : 'collapsed' }}" col="1" row="2"
        class="center middle input-field ">
        <TextField #weightField keyboardType="number" autocorrect="false" (textChange)="onHeightChange($event)"
            class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Height (cm)" textWrap="true" marginBottom="25"></Label>
    </StackLayout>
    <StackLayout col="2" row="2" class="center middle input-field ">
        <TextField #weightField keyboardType="number" autocorrect="false" (textChange)="onAgeChange($event)"
            class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Age (years)" textWrap="true" marginBottom="25"></Label>
    </StackLayout>
    <Button colSpan="3" row="3" [text]="'Close'" [nsRouterLink]="['/home']" clearHistory=true pageTransition="flipLeft"
        class="btn btn-primary m-t-20"></Button>

</GridLayout>
