<ActionBar class="action-bar">
    <Label class="action-bar-title" fontSize="22" text="Ideal Body Weight"></Label>
    <NavigationButton text="" (tap)="router.back()" android.systemIcon="ic_menu_back">
    </NavigationButton>
</ActionBar>

<GridLayout columns="*,*,*" rows="40, auto, auto, 20, auto, auto" #overlay class="overlay">

    <Label row="0" col="0" class="h3  text-center font-black" text="" textWrap="true"></Label>
    <Label row="0" col="1" class="h3  text-center font-black" text="IBW (lbs)" textWrap="true"></Label>
    <Label row="0" col="2" class="h3  text-center font-black" text="IBW (%)" textWrap="true"></Label>


    <StackLayout col="0" row="1" class="middle">
        <Label class="answer-text text-center" [text]="'Males:'" textWrap="true" marginBottom="25"></Label>
    </StackLayout>
    <StackLayout col="1" row="1" class="middle">
        <Label class="answer-text text-center" [text]="ibwMale.toFixed(0)" textWrap="true" marginBottom="25"></Label>
    </StackLayout>
    <StackLayout col="2" row="1" class="middle">
        <Label class="answer-text text-center" [text]="percentIBWMale.toFixed(0)" textWrap="true"
            marginBottom="25"></Label>
    </StackLayout>

    <StackLayout col="0" row="2" class="middle">
        <Label class="answer-text text-center" [text]="'Females:'" textWrap="true" marginBottom="25"></Label>
    </StackLayout>
    <StackLayout col="1" row="2" class="middle">
        <Label class="answer-text text-center" [text]="ibwFemale.toFixed(0)" textWrap="true" marginBottom="25"></Label>
    </StackLayout>
    <StackLayout col="2" row="2" class="middle">
        <Label class="answer-text text-center" [text]="percentIBWFemale.toFixed(0)" textWrap="true"
            marginBottom="25"></Label>
    </StackLayout>

    <Label row="3" colSpan="3" class="text-center font-black" text="Frame Size" textWrap="true"></Label>
    <ListPicker height="125" color="black" colSpan="3" row="4" [items]="sizes" selectedIndex="1"
        (selectedIndexChange)="onSelectedIndexChanged($event)"> </ListPicker>

    <GridLayout colSpan="3" row="5" rows="*" columns="*,*">
        <StackLayout col="0" class="center bottom input-field ">
            <TextField #heightField keyboardType="number" autocorrect="false" (textChange)="onHeightChange($event)"
                class="input">
            </TextField>
            <StackLayout class="hr-light"></StackLayout>
            <Label class="h3 text-center font-black" text="Height (in)" textWrap="true"></Label>
        </StackLayout>
        <StackLayout col="1" class="center bottom input-field ">
            <TextField keyboardType="number" autocorrect="false" (textChange)="onWeightChange($event)" class="input">
            </TextField>
            <StackLayout class="hr-light"></StackLayout>
            <Label class="h3 text-center font-black" text="Current Weight (lbs)" textWrap="true"></Label>
        </StackLayout>
    </GridLayout>
</GridLayout>
