<ActionBar class="action-bar">
    <Label class="action-bar-title" fontSize="22" text="Penn State 2010"></Label>
    <NavigationButton text="" (tap)="router.back()" android.systemIcon="ic_menu_back">
    </NavigationButton>
</ActionBar>

<GridLayout columns="*,*,*" rows="60, auto, auto, auto, *" #overlay class="overlay">
    <SegmentedBar backgroundColor="rgb(85,196,230)" class="tab-bar top" row="0" colSpan="3" [items]="tabItems"
        (selectedIndexChange)="onTabChange($event)">
    </SegmentedBar>

    <GridLayout colSpan="3" row="1" rows="*,*" columns="*,*">
        <StackLayout col="0" row="0" class="middle">
            <Label class="answer-text text-center" [text]="'Male RMR' " textWrap="true" marginBottom="25"></Label>
        </StackLayout>
        <StackLayout col="1" row="0" class="middle">
            <Label class="answer-text text-center" [text]="rmr.toFixed(2)" textWrap="true" marginBottom="25"></Label>
        </StackLayout>
        <StackLayout col="0" row="1" class="middle">
            <Label class="answer-text text-center" [text]="'Female RMR' " textWrap="true" marginBottom="25"></Label>
        </StackLayout>
        <StackLayout col="1" row="1" class="middle">
            <Label class="answer-text text-center" [text]="rmrFemale.toFixed(2)" textWrap="true"
                marginBottom="25"></Label>
        </StackLayout>
    </GridLayout>

    <StackLayout marginBottom="10" visibility="{{ currentTabView == 'standard' ? 'visible' : 'collapsed' }}" col="0"
        row="2" class="center middle input-field ">
        <TextField #weightField keyboardType="number" autocorrect="false" (textChange)="onWeightChange($event)"
            class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Weight (lbs)" textWrap="true"></Label>
    </StackLayout>
    <StackLayout marginBottom="10" visibility="{{ currentTabView == 'metric' ? 'visible' : 'collapsed' }}" col="0"
        row="2" class="center middle input-field ">
        <TextField keyboardType="number" autocorrect="false" (textChange)="onWeightChange($event)" class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Weight (kg)" textWrap="true"></Label>
    </StackLayout>
    <StackLayout marginBottom="10" visibility="{{ currentTabView == 'standard' ? 'visible' : 'collapsed' }}" col="1"
        row="2" class="center middle input-field ">
        <TextField keyboardType="number" autocorrect="false" (textChange)="onHeightChange($event)" class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Height (in)" textWrap="true"></Label>
    </StackLayout>
    <StackLayout marginBottom="10" marginBottom="10"
        visibility="{{ currentTabView == 'metric' ? 'visible' : 'collapsed' }}" col="1" row="2"
        class="center middle input-field ">
        <TextField keyboardType="number" autocorrect="false" (textChange)="onHeightChange($event)" class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Height (cm)" textWrap="true"></Label>
    </StackLayout>
    <StackLayout marginBottom="10" col="2" row="2" class="center middle input-field ">
        <TextField keyboardType="number" autocorrect="false" (textChange)="onAgeChange($event)" class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Age (years)" textWrap="true"></Label>
    </StackLayout>
    <GridLayout row="3" colSpan="3" rows="*" columns="*,*">
        <StackLayout col="0" class="center middle input-field ">
            <TextField #factorField keyboardType="number" (textChange)="onLiterChange($event)" [(ngModel)]="liters"
                autocorrect="false" class="input">
            </TextField>
            <StackLayout class="hr-light"></StackLayout>
            <Label class="h3 text-center font-black" text="Ve (liters per minute)" textWrap="true"></Label>
        </StackLayout>
        <StackLayout col="1" class="center middle input-field ">
            <TextField keyboardType="number" (textChange)="onTempChange($event)" [(ngModel)]="tmax" autocorrect="false"
                class="input">
            </TextField>
            <StackLayout class="hr-light"></StackLayout>
            <Label class="h3 text-center font-black" [text]="currentTabView == 'standard' ? 'Tmax (°F)' : 'Tmax (°C)'"
                textWrap="true"></Label>
        </StackLayout>
    </GridLayout>

    <Button colSpan="3" row="4" [text]="'Close'" [nsRouterLink]="['/home']" clearHistory="true"
        pageTransition="flipLeft" class="btn btn-primary top"></Button>
</GridLayout>
