<ActionBar class="action-bar">
    <Label class="action-bar-title" fontSize="22" text="Harris Benedict"></Label>
    <NavigationButton text="" (tap)="router.back()" android.systemIcon="ic_menu_back">
    </NavigationButton>
</ActionBar>


<GridLayout columns="*,*,*" rows="auto, 160, auto" #overlay class="overlay">
    <Image #fairy row="0" class="fairy" colSpan="2" margin="10" height="75" width="75" src="{{'~/images/fairy.png'}}">
    </Image>
    <StackLayout colSpan="3" row="0" class="middle">
        <Label class="answer-text text-center" [text]="'Male: ' + answerMale + '    ' + 'Female: ' + answerFemale"
            textWrap="true" marginBottom="25"></Label>
    </StackLayout>
    <StackLayout col="0" row="1" class="center middle input-field ">
        <TextField #weightField keyboardType="number" autocorrect="false" (textChange)="onWeightChange($event)"
            class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Weight (kg)" textWrap="true" marginBottom="25"></Label>
    </StackLayout>
    <StackLayout col="1" row="1" class="center middle input-field ">
        <TextField #weightField keyboardType="number" autocorrect="false" (textChange)="onHeightChange($event)"
            class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Height (cm)" textWrap="true" marginBottom="25"></Label>
    </StackLayout>
    <StackLayout col="2" row="1" class="center middle input-field ">
        <TextField #weightField keyboardType="number" autocorrect="false" (textChange)="onAgeChange($event)"
            class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Age (years)" textWrap="true" marginBottom="25"></Label>
    </StackLayout>


    <Button colSpan="3" row="2" [text]="'Close'" [nsRouterLink]="['/home']" clearHistory=true pageTransition="flipLeft"
        class="btn btn-primary m-t-20"></Button>

</GridLayout>
