<ActionBar class="action-bar">
    <Label class="action-bar-title" fontSize="22" text="BMI"></Label>
    <NavigationButton text="" (tap)="router.back()" android.systemIcon="ic_menu_back">
    </NavigationButton>
</ActionBar>


<GridLayout columns="*,*" rows="60, 35, 35, 75, 75, auto" #overlay class="overlay">
    <SegmentedBar selectedBackgroundColor="#696868" class="tab-bar top" row="0" colSpan="2" [items]="tabItems"
        (selectedIndexChange)="onTabChange($event)">
    </SegmentedBar>
    <StackLayout colSpan="2" row="1" class="middle">
        <Label class="text-center" fontSize="28" [text]="bmi" textWrap="true"></Label>
    </StackLayout>
    <StackLayout colSpan="2" row="2" class="middle">
        <Label class=" text-center" textWrap="true">
            <FormattedString>
                <Span [text]="'(' + category + ')'" fontAttributes="Italic"></Span>
            </FormattedString>
        </Label>
    </StackLayout>
    <StackLayout visibility="{{ currentTabView == 'standard' ? 'visible' : 'collapsed' }}" colSpan="2" row="3"
        class="center middle input-field ">
        <TextField #weightField keyboardType="number" autocorrect="false" (textChange)="onWeightChange($event)"
            class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Weight (lbs)" textWrap="true"></Label>

    </StackLayout>

    <StackLayout visibility="{{ currentTabView == 'standard' ? 'visible' : 'collapsed' }}" col="0" row="4"
        class="center middle input-field ">
        <TextField #heightFtField keyboardType="number" autocorrect="false" (textChange)="onHeightFtChange($event)"
            class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Height (ft)" textWrap="true"></Label>
    </StackLayout>
    <StackLayout visibility="{{ currentTabView == 'standard' ? 'visible' : 'collapsed' }}" col="1" row="4"
        class="center middle input-field ">
        <TextField #heightInField keyboardType="number" autocorrect="false" (textChange)="onHeightInChange($event)"
            class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Height (inches)" textWrap="true"></Label>
    </StackLayout>

    <StackLayout visibility="{{ currentTabView == 'metric' ? 'visible' : 'collapsed' }}" colSpan="2" row="3"
        class="center middle input-field ">
        <TextField keyboardType="number" autocorrect="false" (textChange)="onWeightKgChange($event)" class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Weight (kg)" textWrap="true"></Label>
    </StackLayout>
    <StackLayout visibility="{{ currentTabView == 'metric' ? 'visible' : 'collapsed' }}" colSpan="2" row="4"
        class="center middle input-field ">
        <TextField keyboardType="number" autocorrect="false" (textChange)="onHeightCmChange($event)" class="input">
        </TextField>
        <StackLayout class="hr-light"></StackLayout>
        <Label class="h3 text-center font-black" text="Height (meters)" textWrap="true"></Label>
    </StackLayout>




    <Button colSpan="2" row="5" [text]="'Close'" [nsRouterLink]="['/home']" clearHistory=true pageTransition="curlDown"
        class="btn btn-primary m-t-20"></Button>

</GridLayout>
