<ActionBar class="action-bar">
    <Label class="action-bar-title" fontSize="22" text="The Dietitian Fairy"></Label>
</ActionBar>

<!--
<GridLayout backgroundColor="" columns="*" rows="*,*">

    <Image [nsRouterLink]="['/calculator']" pageTransition="slideLeft" class="container" col="0" row="0"
        stretch="aspectFill" margin="10" src="{{'~/images/food.jpg'}}">
    </Image>
    <GridLayout pageTransition="slideLeft" col="0" row="0" verticalAlignment="bottom">
        <StackLayout class="title">
            <Label text="Dietetic Calculator"></Label>
        </StackLayout>
    </GridLayout>

    <Image [nsRouterLink]="['/references']" pageTransition="slideLeft" class="container" col="0" row="1"
        stretch="aspectFill" margin="10" src="{{'~/images/hot.jpeg'}}">
    </Image>
    <GridLayout pageTransition="slideLeft" col="0" row="1" verticalAlignment="bottom">
        <StackLayout class="title">
            <Label text="Formula References"></Label>
        </StackLayout>
    </GridLayout>

</GridLayout> -->
<!-- <ScrollView>
    <GridLayout opacity="0" class="overlay" id="overlayGridLayout"></GridLayout>
    <GridLayout rowSpan="2" colSpan="2" rows="auto, auto, auto" columns="*,*" verticalAlignment="center" opacity="0"
        class="select-date" id="selectDateGridLayout">
        <Label row="0" col="0" colSpan="2" text="Select Date" class="title-select-date"></Label>
    </GridLayout>
    <MDCardView (tap)="openModal('bmi')" rippleColor="black" width="95%" height="100">
        <StackLayout padding="12">
            <Label text="Calculate BMI" fontSize="20" marginBottom="16"></Label>
            <Label text="BMI = (weight in kilograms)/(height in meters^2)" textWrap="true"></Label>
        </StackLayout>
    </MDCardView>


</ScrollView> -->
<ScrollView height="100%">


    <!-- <GridLayout rows="50, auto,auto,auto,*,*,*" columns="*"> -->


    <StackLayout>
        <Image class="fairy" (tap)="backFlipEllieFly()" #fairy row="0" margin="5" height="75" width="75"
            src="{{'~/images/fairy.png'}}">
        </Image>

        <MDCardView class="bmi-card m-b-20" elevation="5" (tap)="goToPage('/bmi')" rippleColor="black" width="95%"
            height="30%">
            <StackLayout padding="12">
                <Label text="Calculate BMI" class="fairy-font" fontSize="20" marginBottom="16"></Label>
                <Label text="BMI = (weight in kilograms)/(height in meters^2)" fontSize="14" textWrap="true"></Label>
            </StackLayout>
        </MDCardView>

        <MDCardView class="bmi-card m-b-20" elevation="5" (tap)="goToPage('/conversions')" rippleColor="black"
            width="95%" height="30%">
            <StackLayout padding="12">
                <Label text="Common Conversions" class="fairy-font" fontSize="20" marginBottom="16"></Label>
                <Label text="1 inch= 2.54 centimeters
1 meter= 100 centimeters
1 kilogram=2.2 pounds
Fahrenheit to Celsius (X°F − 32) × 5/9 = X°C" fontSize="14" textWrap="true">
                </Label>
            </StackLayout>
        </MDCardView>

        <MDCardView class="bmi-card m-b-20" elevation="5" (tap)="goToPage('/mifflin')" rippleColor="black" width="95%"
            height="30%">
            <StackLayout padding="12">
                <Label text="Mifflin St. Jeor" class="fairy-font" fontSize="20" marginBottom="16"></Label>
                <Label text="Males =(9.99*weight)+(6.25*height)-(5*age)+5
Females =(9.99*weight)+(6.25*height)-(5*age)-161
-Weight in kilograms
-Height in centimeters
-Age in years " fontSize="14" textWrap="true">
                </Label>
            </StackLayout>
        </MDCardView>
    </StackLayout>


    <!-- <MDCardView class="bmi-card m-b-20" elevation="5" (tap)="openModal('bmi')" row="1" rippleColor="black" width="95%"
        height="30%">
        <StackLayout padding="12">
            <Label text="Calculate BMI" fontSize="20" marginBottom="16"></Label>
            <Label text="BMI = (weight in kilograms)/(height in meters^2)" textWrap="true"></Label>
        </StackLayout>
    </MDCardView>
    <MDCardView class="bmi-card  m-b-20" (tap)="openModal('bmi')" row="2" rippleColor="black" width="95%" height="30%">
        <StackLayout padding="12">
            <Label text="Calculate BMI" fontSize="20" marginBottom="16"></Label>
            <Label text="BMI = (weight in kilograms)/(height in meters^2)" textWrap="true"></Label>
        </StackLayout>
    </MDCardView>
    <MDCardView class="bmi-card  m-b-20" (tap)="openModal('bmi')" row="3" rippleColor="black" width="95%" height="30%">
        <StackLayout padding="12">
            <Label text="Calculate BMI" fontSize="20" marginBottom="16"></Label>
            <Label text="BMI = (weight in kilograms)/(height in meters^2)" textWrap="true"></Label>
        </StackLayout>
    </MDCardView>
    <MDCardView class="bmi-card  m-b-20" (tap)="openModal('bmi')" row="4" rippleColor="black" width="95%" height="30%">
        <StackLayout padding="12">
            <Label text="Calculate BMI" fontSize="20" marginBottom="16"></Label>
            <Label text="BMI = (weight in kilograms)/(height in meters^2)" textWrap="true"></Label>
        </StackLayout>
    </MDCardView>
    <MDCardView class="bmi-card  m-b-20" (tap)="openModal('bmi')" row="10" rippleColor="black" width="95%" height="30%">
        <StackLayout padding="12">
            <Label text="Calculate BMI" fontSize="20" marginBottom="16"></Label>
            <Label text="BMI = (weight in kilograms)/(height in meters^2)" textWrap="true"></Label>
        </StackLayout>
    </MDCardView>
    <MDCardView class="bmi-card  m-b-20" (tap)="openModal('bmi')" row="6" rippleColor="black" width="95%" height="30%">
        <StackLayout padding="12">
            <Label text="Calculate BMI" fontSize="20" marginBottom="16"></Label>
            <Label text="BMI = (weight in kilograms)/(height in meters^2)" textWrap="true"></Label>
        </StackLayout>
    </MDCardView> -->



    <!-- </GridLayout> -->
</ScrollView>
