.container {
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
}

.button-font {
  font-family: "Nunito";
  font-size: 18;
}

.title {
  padding: 8 16 10 16;
  font-size: 28;
  color: #000;
  font-family: "Nunito";
}

.bmi-card {
  border-color: black;
  border-bottom-width: 1;
}
.fairie {
  transform: translateY(-100);
}
